*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.prepare{
    background-color: #78335D;
    display: flex;
    flex-basis:auto;
    width: 1096px;
    height: 39px;
    font-family: ;
}
.navigate{
    display: flex;
    flex-grow: 1;
    flex-direction:row;
    align-items: center;
    margin-left: auto !important;
    margin-right: auto !important;
    text-decoration: none;
}
.header{
    width:1324.62px;
    height:39.98pxs;
    display:flex;
}
a{
    text-decoration:none;
}
