.profile{
    max-width: 300px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-radius: 23px;
    padding:30px;
    display: flex;
    flex-direction:column;
    align-items: center;

}
.image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 15px;
}
.naruto{
    height:100%;
    width:100% ;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;

}
*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif ;
    box-sizing: border-box;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;

}
.name{
    font-size: 24px;
    font-weight: 700;
}
.role{
    font-size: 14px;
    font-weight: 900;
}